/* Обнуляющие стили CSS: */
@import '../css/nullstyle.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

%call_btn {
	padding: 13px 26px 12px 26px;
	border: 2px solid #66c05d;
	border-radius: 40px;
	cursor: pointer;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
}
.nav {
	background-color: #e5e5e5;
	display: flex;
	justify-content: center;
	&__row {
		display: flex;
		justify-content: center;
		gap: 30px;
		padding: 17px 0 16px 0;
	}
	&__item {
		color: #333333;
		line-height: 16.5px;
		cursor: pointer;
	}
	&__item:hover {
		text-decoration: underline;
	}
	&__item:active {
		color: #5d4a4a;
	}
}
.beauty {
	display: flex;
	&__row {
		display: flex;
		justify-content: space-between;
		padding: 20px 0 20px 0;
	}
	&__logo {
		display: flex;
		align-items: center;
		gap: 20px;
		cursor: pointer;
	}
	&__text {
		color: #66c05d;
		font-size: 36px;
		font-weight: 700;
		cursor: pointer;
	}
	&__tel {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	&__number {
		font-size: 16px;
		cursor: pointer;
	}
	&__number:hover {
		text-decoration: underline;
	}
	&__call {
		@extend %call_btn;
	}
	&__call:hover {
		background-color: #f5fbf5;
	}
	&__call:active {
		background-color: #daf6da;
	}
}
.main-nav {
	display: flex;
	&__row {
		display: flex;
		justify-content: center;
		gap: 40px;
		border-top: 1px solid #efefef;
		padding: 30px 0 30px 0;
		line-height: 19px;
	}
	&__item {
		font-size: 16px;
		cursor: pointer;
	}
	&__item:hover {
		text-decoration: underline;
	}
}
.chair {
	overflow: hidden;
	display: flex;
	background-color: #66c05d;
	&__row {
		display: flex;
		column-gap: 145px;
	}
	&__body {
		max-width: 310px;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 50px;
	}
	&__title {
		font-size: 48px;
		line-height: 56.25px;
		color: #ffffff;
		font-weight: 700;
	}
	&__text {
		line-height: 20px;
		color: #ffffff;
	}
	&__btn {
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #ffffff;
		border: 2px solid #ffffff;
		border-radius: 40px;
		padding: 11px 45px 11px 45px;
		cursor: pointer;
	}
	&__btn:hover {
		background-color: #70d268;
	}
	&__btn:active {
		background-color: #80d578;
	}
}
.chair__image-block {
	position: relative;
}
.chair__img {
	position: relative;
	z-index: 2;
}
.chair__image-block::before {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	content: url("../img/Ellipse_small.png");
}
.chair__image-block::after {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	content: url("../img/Ellipse_big.png");
}
.gray-block {
	background-color: #efefef;
	padding-top: 70px;
	padding-bottom: 132px;
}
.offer {
	display: flex;
	&__row {
		display: flex;
		flex-direction: column;
	}
	.car-img {
		padding-right: 50px;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 16px;
		align-items: center;
	}
	&__cards {
		display: flex;
		gap: 30px;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
	}
	&__image {
		width: 125px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		align-items: center;
		padding: 25px 30px;
		gap: 20px;
	}
	&__text {
		line-height: 20px;
		text-align: center;
	}
	&__price {
		font-weight: 500;
		font-size: 21px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 0.05em;
	}
	&__btn {
		color: #ffffff;
		background: #66c05d;
		border-radius: 30px;
		padding: 9px 40px 9px 40px;
		line-height: 16px;
		letter-spacing: 0.05em;
		cursor: pointer;
	}
	&__btn:hover {
		background-color: #70d268;
	}
	&__btn:active {
		background-color: #80d578;
	}
}
.subscribe {
	margin-top: 100px;
	display: flex;
	&__blocks {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-basis: 50%;
		background-color: #66c05d;
		padding: 35px 45px 35px 40px;
		gap: 65px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	&__title {
		color: #ffffff;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
	}
	&__text {
		color: #ffffff;
		line-height: 20px;
	}
	&__input {
		background: #ffffff;
		border-radius: 30px;
		padding: 9px 0 9px 25px;
		max-width: 225px;
	}
	.subscribe__input::placeholder {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #c4c4c4;
	}
	&__image {
		align-items: center;
		width: 140px;
		height: 107px;
	}
	&__btn {
		color: #ffffff;
		background-color: #66c05d;
		border: 2px solid #ffffff;
		border-radius: 30px;
		max-width: 170px;
		padding: 9px 28px 9px 28px;
	}
	&__btn:hover {
		background-color: #70d268;
	}
	&__btn:active {
		background-color: #80d578;
	}
}
.info {
	display: flex;
	padding: 40px 0;
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__social {
		display: flex;
		gap: 20px;
		cursor: pointer;
	}
	&__adress {
		line-height: 16px;
	}
	&__tel {
		display: flex;
		text-align: center;
		gap: 40px;
	}
	&__number {
		align-self: center;
		font-size: 16px;
		line-height: 19px;
		cursor: pointer;
	}
	&__number:hover {
		text-decoration: underline;
	}

	&__call {
		@extend %call_btn;
	}
	&__call:hover {
		background-color: #f5fbf5;
	}
	&__call:active {
		background-color: #daf6da;
	}
}
.info__links {
	display: flex;
	flex-wrap: wrap;
	width: 45px;
	height: 45px;
	border: 2px solid #66c05d;
	border-radius: 50%;
}
.info__links:hover {
	background-color: #e5f1e5;
}
.social__link {
	margin: 0 auto;
}

.footer {
	background-color: #efefef;
	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 25px 0 25px 0;
	}
	&__descr,
	&__policy {
		color: #828282;
		font-size: 12px;
		line-height: 14px;
	}
}
.footer__policy {
	cursor: pointer;
}
.footer__policy:hover {
	text-decoration: underline;
}

@media (max-width: 760px) {
	%call_btn {
		padding: 7px 13px 7px 13px;
		border: 2px solid #66c05d;
		border-radius: 40px;
		cursor: pointer;
	}
	.container {
		max-width: 760px;
	}

	.beauty {
		&__row {
			padding: 10px 0 10px 0;
		}
		&__logo {
			gap: 20px;
		}
		&__text {
			font-size: 32px;
		}
		&__tel {
			gap: 30px;
		}
		&__number {
			font-size: 14px;
		}
	}
	.main-nav {
		&__row {
			gap: 25px;
			padding: 25px 0 25px 0;
		}
		&__item {
			font-size: 16px;
		}
	}
	.chair {
		padding-left: 5px;
		&__row {
			column-gap: 80px;
		}
		&__body {
			max-width: 310px;
			gap: 25px;
		}
		&__title {
			font-size: 36px;
			line-height: 40.25px;
			color: #ffffff;
			font-weight: 700;
		}
		&__btn {
			padding: 10px 40px 10px 40px;
		}
		&__img {
			max-width: 300px;
		}
	}
	.chair__image-block::before {
		background-image: url("../img/Ellipse_small.png");
		background-size: 350px 310px;
		display: inline-block;
		width: 350px;
		height: 310px;
		content: "";
	}
	.chair__image-block::after {
		background-image: url("../img/Ellipse_big.png");
		background-size: 450px 310px;
		display: inline-block;
		width: 450px;
		height: 310px;
		content: "";
	}
	.gray-block {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.offer {
		display: flex;
		&__row {
			display: flex;
			flex-wrap: wrap;
		}
		.car-img {
			padding-right: 50px;
		}
		&__header {
			justify-content: space-around;
			padding-bottom: 8px;
		}
		&__cards {
			max-width: 760px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			gap: 10px;
		}
		&__title {
			font-size: 21px;
			line-height: 25px;
		}
		&__image {
			width: 100px;
		}
		&__item {
			max-width: 300px;
			padding: 20px 20px;
			gap: 15px;
		}
		&__text {
			line-height: 20px;
		}
		&__btn {
			color: #ffffff;
			background: #66c05d;
			border-radius: 30px;
			padding: 9px 40px 9px 40px;
			line-height: 16px;
			letter-spacing: 0.05em;
			cursor: pointer;
		}
	}
	.subscribe {
		margin-top: 80px;
		&__blocks {
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}
		&__block {
			justify-content: space-between;
			background-color: #66c05d;
			padding: 25px 20px;
			gap: 65px;
		}
		&__body {
			gap: 20px;
		}
		&__title {
			font-size: 17px;
			line-height: 19px;
		}
		&__text {
			line-height: 20px;
		}
		&__input {
			padding: 9px 0 9px 25px;
			max-width: 225px;
		}
		.subscribe__input::placeholder {
			font-size: 12px;
		}
		&__image {
			width: 110px;
			height: 70px;
		}
		&__btn {
			padding: 7px 13px 7px 13px;
		}
	}
	.info {
		padding: 15px 0;

		&__social {
			gap: 0;
		}
		&__tel {
			gap: 15px;
		}
		&__number {
			font-size: 14px;
			line-height: 18px;
		}
		&__call {
			@extend %call_btn;
		}
	}
	.info__links {
		border: none;
	}
	.social__link {
		margin: 0 5px;
	}
	.footer {
		&__row {
			justify-content: space-around;
			padding: 15px 0 15px 0;
		}
		&__descr,
		&__policy {
			font-size: 10px;
			line-height: 10px;
		}
	}
}
@media (max-width: 440px) {
	.container {
		max-width: 440px;
	}
	.nav {
		&__row {
			justify-content: space-around;
			gap: 20px;
			padding: 16px 0 16px 0;
		}
		&__item {
			font-size: 13px;
		}
	}

	.beauty {
		&__row {
			padding: 3px 0 3px 0;
		}
		.beauty__img {
			width: 50px;
		}
		&__logo {
			gap: 5px;
		}
		&__text {
			font-size: 20px;
		}
		&__tel {
			gap: 15px;
		}
		&__number {
			font-size: 12px;
		}
		&__call {
			padding: 8px 10px 8px 10px;
		}
	}
	.main-nav {
		&__row {
			gap: 10px;
			padding: 15px 0 15px 0;
		}
		&__item {
			font-size: 12px;
		}
	}
	.chair {
		padding-left: 5px;
		&__row {
			column-gap: 10px;
		}
		&__body {
			gap: 10px;
		}
		&__title {
			font-size: 25px;
			line-height: 23.25px;
		}
		&__text {
			font-size: 12px;
		}
		&__btn {
			padding: 7px 15px 7px 15px;
		}
		&__img {
			max-width: 250px;
		}
	}
	.chair__image-block::before {
		background-image: url("../img/Ellipse_small.png");
		background-size: 270px 250px;
		display: inline-block;
		width: 270px;
		height: 250px;
		transform: translateX(55%);
	}
	.chair__image-block::after {
		background-image: url("../img/Ellipse_big.png");
		background-size: 340px 250px;
		display: inline-block;
		width: 340px;
		height: 250px;
		transform: translateX(55%);
	}
	.gray-block {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.offer {
		&__row {
			display: flex;
			flex-wrap: wrap;
		}
		.car-img {
			width: 80px;
			padding-right: 0;
		}
		&__header {
			gap: 15px;
			justify-content: center;
			padding-bottom: 15px;
		}
		&__cards {
			max-width: 440px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			gap: 20px;
		}
		&__title {
			font-size: 15px;
		}
		&__image {
			width: 90px;
		}
		&__item {
			max-width: 270px;
			padding: 20px 10px;
			gap: 10px;
		}
		&__text {
			line-height: 18px;
		}
		&__btn {
			padding: 9px 35px 9px 35px;
		}
	}
	.subscribe {
		margin-top: 50px;
		&__blocks {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 20px;
		}
		&__block {
			justify-content: space-between;
			background-color: #66c05d;
			padding: 25px 20px;
			gap: 65px;
		}
		&__body {
			gap: 20px;
		}
		&__title {
			font-size: 17px;
			line-height: 19px;
		}
		&__text {
			line-height: 20px;
		}
		&__input {
			padding: 9px 0 9px 25px;
			max-width: 225px;
		}
		.subscribe__input::placeholder {
			font-size: 12px;
		}
		&__image {
			width: 110px;
			height: 70px;
		}
		&__btn {
			padding: 8px 13px 8px 13px;
		}
	}
	.info {
		padding: 15px 0;
		&__row {
			flex-direction: column;
			gap: 8px;
		}
		&__social {
			display: flex;
			gap: 10px;
			gap: 0;
		}
		&__tel {
			gap: 15px;
		}
		&__number {
			font-size: 14px;
			line-height: 10px;
		}
	}
	.info__links {
		border: none;
		width: 30px;
		height: 30px;
	}
	.social__link {
		width: 22px;
		height: 22px;
		margin: 0 5px;
	}
	.footer {
		&__row {
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 10px;
			padding: 22px 5px 10px 5px;
		}
		&__descr,
		&__policy {
			font-size: 12px;
			line-height: 12px;
		}
	}
}
